



// =====================================
//       ALL TYPOGRAPHY MIXINS
//======================================
// REGULAR TYPOGRAPHY
@mixin regular__typography {
    font-weight: $regular__weight;
    font-family: $primary__family;
}

// REGULAR TYPOGRAPHY
@mixin medium__typography {
    font-weight: $medium__weight;
    font-family: $primary__family;
}

// BOLD TYPOGRAPHY
@mixin bold__typography {
    font-weight: $bold__weight;
    font-family: $primary__family;
}

// BLACK TYPOGRAPHY
@mixin black__typography {
    font-weight: $black__weight;
    font-family: $primary__family;
}


//=====================================
//      TRANSITION BROWSER PREFIX
//======================================
@mixin cursor__transition {
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}


// =====================================
//         FLEX CENTER PROPERTY
//======================================
@mixin flex__center {
    display: flex;
    align-items: center;
    justify-content: center;
}


// =====================================
//         FLEX START PROPERTY
//======================================
@mixin flex__start {
    display: flex;
    align-items: flex-start;
    justify-content: start;
}


// =====================================
//      BACKGROUND IMAGE PROPERTY
//======================================
@mixin background__property {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


// =====================================
//        SLIDER ARROW PROPERTY
//======================================
@mixin slider__arrow {
    position: absolute;
    transform: translateY(-50%);
    color: $brand__color;
    font-size: $md__size;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: $wh__color;
    box-shadow: $sm__box__shadow;
    cursor: pointer;
    z-index: 1;
     @include cursor__transition;
}


// =====================================
//     INPUT PLACEHOLDER PROPERTY
//======================================
@mixin place__property {
    font-size: $xsm__size;
    @include medium__typography;
    text-transform: capitalize;
}