



.navbar-brand {
    display: flex !important;
    justify-content: start;
    align-items: center;

    .logo__icon {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 8px;
        background: $brand__gradient;
        transform: rotate(45deg);
        z-index: 1;

        span {
            color: $wh__color;
            font-size: 26px;
            @include bold__typography;
            transform: rotate(-45deg);
            display: inline-block;
        }
    }

    .navbar__logo {
        width: auto;
        height: 35px;
        margin-left: 12px;
    }
}