

.menu__part {
    position: absolute !important;
    top: 0px;
    left: 0px;
    width: 100%;
    background: transparent;
    padding: 20px 15px !important;
    z-index: 1;

    .container {
        max-width: 1200px;

        .navbar-collapse {
            .navbar-nav {
                margin-right: 18px;

                .nav-item {
                    margin-left: 18px;

                    .nav-link {
                        color: $text__color;
                        font-size: $sm__size;
                        @include medium__typography;
                        text-transform: capitalize;
                        @include cursor__transition;

                        &:hover {
                            color: $brand__color;
                        }
                    }

                    .dropdown-menu {
                        border: none;
                        padding: 0px;
                        width: 220px;
                        border-top: 2px solid $brand__color;
                        box-shadow: $sm__box__shadow;

                        .dropdown-item {
                            color: $gray__color !important;
                            font-size: $xsm__size !important;
                            @include medium__typography;
                            text-transform: capitalize;
                            padding: 15px 25px;
                            border-bottom: 1px solid #eee;
                            
                            &:last-child {
                                border-bottom: none;
                            }

                            &:hover {
                                color: $wh__color !important;
                                background: $brand__gradient;
                            }
                        }
                    }

                    .dropdown-toggle {
                        &::after {
                            margin-left: 0px;
                        }
                    }
                }

                .active {
                    .nav-link {
                        color: $brand__color;
                    }
                }
            }

            .primary__btn {
                width: 140px;
                text-align: center;
                padding: 13px 0px;
                margin-left: 20px;
                box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2);
            }
        }
    }
}


// MENU FIXED WHEN SCROLL
.menu__fixed {
    position: fixed !important;
    top: 0px;
    left: 0px;
    width: 100%;
    background: $wh__color;
    z-index: 999;
    box-shadow: $sm__box__shadow;
}